<a href="https://colab.research.google.com/github/thinkp0907/Ml_yahac/blob/master/CNN_flatten_layers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flatten Layer를 활용한 이미지 학습

In [1]:
import tensorflow as tf
import pandas as pd

## With reshape

In [2]:
# 데이터를 준비하고
(mnist_x, mnist_y), _ = tf.keras.datasets.mnist.load_data()
독립 = mnist_x.reshape(60000, 784)
종속 = pd.get_dummies(mnist_y)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step

In [5]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [6]:
# 모델을 학습하기
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 6.8229 - accuracy: 0.7912
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5910 - accuracy: 0.9092
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4891 - accuracy: 0.9218
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.4524 - accuracy: 0.9341
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.4432 - accuracy: 0.9381
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3941 - accuracy: 0.9428
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3748 - accuracy: 0.9460
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3531 - accuracy: 0.9483
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3501 - accuracy: 0.9514
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3395 - accuracy: 0.9536

In [9]:
# 모델을 이용하기
pred = model.predict(독립[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [10]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

## With Faltten

In [17]:
# 데이터를 준비하고
(mnist_x, mnist_y), _ = tf.keras.datasets.mnist.load_data()
종속 = pd.get_dummies(mnist_y)
print(mnist_x.shape, 종속.shape)

(60000, 28, 28) (60000, 10)

In [18]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28,28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [19]:
# 모델을 학습히가
model.fit(mnist_x, 종속, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 7.1365 - accuracy: 0.7929
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5607 - accuracy: 0.9120
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4984 - accuracy: 0.9301
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4484 - accuracy: 0.9357
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4225 - accuracy: 0.9407

In [21]:
# 모델을 이용하기
pred = model.predict(mnist_x[:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [22]:
종속[:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1