<a href="https://colab.research.google.com/github/thinkp0907/Ml_yahac/blob/master/Convolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터를 준비하기
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [ ]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [ ]:
# 모델을 학습하기
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 1.2894 - accuracy: 0.8734
Epoch 2/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0845 - accuracy: 0.9768
Epoch 3/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0582 - accuracy: 0.9834
Epoch 4/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0412 - accuracy: 0.9887
Epoch 5/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0325 - accuracy: 0.9910
Epoch 6/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0284 - accuracy: 0.9922
Epoch 7/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0236 - accuracy: 0.9935
Epoch 8/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0231 - accuracy: 0.9937
Epoch 9/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0213 - accuracy: 0.9942
Epoch 10/10
1875/1875 [==============================] - 6s 3ms/step - loss: 0.0181 - accuracy: 0.9955

In [ ]:
# 모델을 사용하기
pred = model.predict(독립[0:5])
display(pd.DataFrame(pred).round(2))
display(종속[0:5])

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [ ]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten (Flatten)            (None, 2400)              0
_________________________________________________________________
dense (Dense)                (None, 84)                201684
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________