# 데이터 준비하기 1

1. 데이터를 불러온다 
2. 종속변수와 독립변수로 분리한다. 

- 실습을 통해 배울 도구들
  - 파일 읽어오기: **read_csv('/경로/파일명.csv')**
  - 모양 확인하기: **데이터.shape**
  - 칼럼 선택하기: **데이터[['칼럼명1', '칼럼명2', '칼럼명3']]**
  - 칼럼 이름 출력하기: **데이터.columns**
  - 맨 위 5개 관측치 출력하기: **데이터.head()**

- 샘플 데이터 
  - GitHub github link: https://github.com/blackdew/tensorflow1/tree/master/csv
  - 레모네이드: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv
  - 보스톤: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv
  - 아이리스: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

In [ ]:
import pandas as pd

In [ ]:
# 파일로부터 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

In [ ]:
# 데이터 모양 확인하기
print(레모네이드.shape)
print(보스턴.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

In [ ]:
# 컬럼이름 출력
print(레모네이드.columns)
print(보스턴.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [ ]:
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

독립 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 아이리스[['품종']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

In [ ]:
레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
보스턴.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

## 레모네이드 판애 예측

In [ ]:
# 라이브러라 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 데이터 준비
# 데이터 읽어오기
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

# 데이터 나누기
독립 = 레모네이드[['온도']]
종속 = 레모네이드[['판매량']]
print(독립.shape, 종속.shape)

In [ ]:
# 모델을 만들기
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.Model(X, Y)
model.compile(loss='mse')

In [ ]:
# 모델 학습
# verbose = 0 을 하면 학습시키는 동안 화면 출력 X
# model.fit(독립, 종속, epochs=10000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3989e-04
Epoch 2/10
1/1 [==============================] - 0s 4ms/step - loss: 2.3978e-04
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3972e-04
Epoch 4/10
1/1 [==============================] - 0s 8ms/step - loss: 2.3977e-04
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 2.3962e-04
Epoch 6/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3945e-04
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3932e-04
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3915e-04
Epoch 9/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3907e-04
Epoch 10/10
1/1 [==============================] - 0s 3ms/step - loss: 2.3893e-04

In [ ]:
# 모델 이용
print(model.predict(독립))
print(model.predict([[15]]))

[[40.00485 ]
 [41.9985  ]
 [43.992157]
 [45.98581 ]
 [47.97946 ]
 [49.973118]]
[[30.036575]]